.errorlist {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    background-color: #f8d7da;
    border-color: #f1aeb5;
    color: #58151c;
    list-style: none;
}

.saludo {
    font-size: 1.1rem;
}