{% extends 'sistema_biblioteca/base.html' %}
{% load static %}
{%block extra_css %} <link rel="stylesheet" href="{% static 'sistema_biblioteca/css/autors.css' %}"> {% endblock %}
{% block titulo %}Biblioteca{% endblock %}
{% block contenido %}
<div class="container-fluid my-3">
    <h2>Gestión de autores y libros</h2>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-4">
            <form>
                <div class="mb-3">
                    <label for="buscar" class="form-buscar">Buscar</label>
                    <input type="text" class="form-control" name="" id="buscar"
                        placeholder="Búsqueda por título o autor" autofocus>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-success" >
                        <a href="">Agregar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Modificar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Guardar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="div-cont">
        <form action="" method="POST">
            {%csrf_token%}
        <div class="div-cont2">
            {{form.titulo.label_tag}}
            <div class="div-cont3">
                {{form.titulo}}
            </div>
        </div>
        <div class="div-cont2"> 
            {{form.autor.label_tag}}
            <div class="div-cont3">
                {{form.autor}}
            </div>
        </div>
        <div class="div-cont2">
            {{form.genero.label_tag}}
            <div class="div-cont3">
                {{form.genero}}
            </div>
        </div>
            <input type="submit">
        </form>
    </div>
</div>

{% endblock %}