{% extends 'sistema_biblioteca/base.html' %}
{% load static %}
{%block extra_css %} <link rel="stylesheet" href="{% static 'sistema_biblioteca/css/biblioteca.css' %}"> {% endblock %}
{% block titulo %}Biblioteca{% endblock %}
{% block contenido %}
<div class="container">
    <div class="row-my-4">
        <div class="col-md-12">
            <form action="" method="POST" class="form">
                {%csrf_token%}
                <div class="mb-3">
                    {{form.titulo.errors}}
                    {{form.titulo.label_tag}}
                    <div>
                        {{form.titulo}}
                    </div>
                </div>
                <div class="mb-3"> 
                    {{form.autor.errors}}
                    {{form.autor.label_tag}}
                    <div>
                        {{form.autor}}
                    </div>
                </div>
                <div class="mb-3">
                    {{form.genero.errors}}
                    {{form.genero.label_tag}}
                    <div>
                        {{form.genero}}
                    </div>
                </div>
                <div class="mb-3">
                    {{form.isbn.errors}}
                    {{form.isbn.label_tag}}
                    <div>
                        {{form.isbn}}
                    </div>
                </div>
                <div class="mb-3">
                    {{form.año_edicion.errors}}
                    {{form.año_edicion.label_tag}}
                    <div>
                        {{form.año_edicion}}
                    </div>
                </div>
                <div class="mb-3">
                    {{form.descripcion.errors}}
                    {{form.descripcion.label_tag}}
                    <div>
                        {{form.descripcion}}
                    </div>
                </div>
                <div class="mb-3">
                    {{form.editoriales.errors}}
                    {{form.editoriales.label_tag}}
                    <div>
                        {{form.editoriales}}
                    </div>
                </div>
                <div class="mb-3">
                    {{form.idiomas.errors}}
                    {{form.idiomas.label_tag}}
                    <div>
                        {{form.idiomas}}
                    </div>
                </div>
                <button type="submit" class="btn btn-secondary">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}