{% extends 'sistema_biblioteca/base.html' %}
{% load static %}
{%block extra_css %} <link rel="stylesheet" href="{% static 'sistema_biblioteca/css/catalogo.css' %}">{% endblock %}
{% block titulo %}Catalogo{% endblock %}



{% block contenido %}

<section>
<div class="container">
    <h2 class="mt-3">Cátalogo según fecha de ingreso a la biblioteca</h2>
    <div class="row my-4">
        <div class="col-md-12">
            <div class="btn-group btn-group-lg" role="group">

                <button class="btn btn-light" type="button">
                    <a class="link-secondary" href="{% url 'catalogo' %}">Catálogo completo</a>
                </button>
                <button class="btn btn-light" type="button">
                    <a class="link-secondary" href="{% url 'catalogo' 2015 %}">2015</a>
                </button>
                <button class="btn btn-light" type="button">
                    <a class="link-secondary" href="{% url 'catalogo' 2016 %}">2016</a>
                </button>
                <button class="btn btn-light" type="button">
                    <a class="link-secondary" href="{% url 'catalogo' 2018 %}">2018</a>
                </button>
                <button class="btn btn-light" type="button">
                    <a class="link-secondary" href="{% url 'catalogo' 2022 %}">2022</a>
                </button>
            </div>
        </div>
    </div>
</div>
<br>
{% for libro in libro %}
{% if año_ingreso == 0 or año_ingreso == libro.año_ingreso %}
<article style="margin-left: 20px;">
    <div class="container">
        <div class="row my-4">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        {{libro.titulo}}
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            Autor: {% filter upper %}
                            {{libro.autor.apellido}},
                            {% endfilter %}
                            {{libro.autor.nombre}}
                            <br>
                            Genero: {{libro.genero.genero}}<br>
                            Descripción: {{libro.descripcion}}<br>
                            Editorial/es: 
                            {% for editorial in libro.editoriales.all %}
                                        {{editorial.editorial}}
                            {% endfor %}<br>
                            Año de ingreso: {{libro.año_ingreso}}<br>
                            Año de edición: {{libro.año_edicion}}<br>
                            Idioma: {{libro.idioma}}
                            
                        </p>
                        <img src="{% static 'sistema_biblioteca/img/libro.png' %}" class="card-img-top" alt="..."
                            style="height: 120px; width: 90px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</article>
{% endif %}
{% endfor %}

<!-- {% for idioma in idioma %}
    {% for libro in idioma.libros.all %}
        {{libro.titulo}}
        {{idioma.idioma}}
    {% endfor %}
{% endfor %}-->
</section>
{% endblock %}