{% extends 'sistema_biblioteca/base.html' %}
{% block titulo %}Catalogo{% endblock %}
{% block contenido %}

<section class="grid">

{% for item in cat_lista %}
{% if año_ingreso == 0 or año_ingreso == item.año_ingreso %}
<article>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled">
                    <li class="list-item">
                        Nombre: {{item.nombre_autor}}
                    </li>
                    <li class="list-item">
                        Apellido:
                        {% filter upper %}
                        {{item.apellido_autor}}
                        {% endfilter %}
                    </li>
                    <li class="list-item">
                        Libro: {{item.nombre_libro}}
                    </li>
                    <li class="list-item">
                        Año de ingreso: {{item.año_ingreso}}
                    </li>

 
</article>
{% endif %}
{% endfor %}


</section>
{% endblock %}