<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca Virtual Comision 23317 Grupo 11</title>
</head>
<body>

    <header>

        <h1>Biblioteca Virual</h1>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Libros</a></li>
                <li><a href="">Autores</a></li>
                <li><a href="">Catalogo</a></li>
                <li><a href="">Contacto </a></li>
            </ul>
        </nav>

    </header>
    <main></main>
    <footer></footer>
    
</body>
</html>