{% extends 'sistema_biblioteca/base.html' %}
{% load static %}
{% block titulo %}Libros{% endblock %}

{% block contenido %}
<div class="container-fluid my-3">
    <h2>Gestión de Libros</h2>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-4">
            <form>
                <div class="mb-3">
                    <label for="buscar" class="form-buscar">Buscar libro</label>
                    <input type="text" class="form-control" name="" id="buscar"
                        placeholder="Búsqueda por título o autor" autofocus>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-success" >
                        <a href="">Agregar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Modificar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Eliminar</a>
                    </button>
                    <button class="btn btn-success">
                        <a href="">Guardar</a>
                    </button>
                
                </div>
            </form>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 py-4">
            <div class="row">
                <p>Agregados recientemente</p>
                {% for item in cat_lista  %}
                {% if año_ingreso == item.año_ingreso %}
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'sistema_biblioteca/img/libro.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.nombre_libro}}</h5>
                        <p class="card-text"></p>
                        <p class="card-text">
                            Autor: {% filter upper %}
                            {{item.apellido_autor}},
                            {% endfilter %}
                            {{item.nombre_autor}}<br>
                        </p>
                        <a href="{% url 'catalogo' año_ingreso %}" class="btn btn-primary">Seleccionar</a>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'catalogo' %}" class="btn btn-primary btn-lg" type="button">Catálogo completo</a>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}