{% extends 'sistema_biblioteca/base.html' %}
{% load static %}
{%block extra_css %}
<link rel="stylesheet" href="{% static 'sistema_biblioteca/css/biblioteca.css' %}"> {% endblock %}
{% block titulo %}Libros{% endblock %}

{% block contenido %}
<div class="container">
    <h2 class="mt-3">Gestión de reservas</h2>
    {% if perms.sistema_biblioteca.add_prestamo_libro %}
    <p class="mt-3 saludo">Hola, {{user.username}}</p>
    {% endif %}
    <div class="row my-4">
        <div class="col-md-12">
            <form action="" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-2">
                    {{form.libro.errors}}
                    {{form.libro.label_tag}}
                    <div>{{form.libro}}</div>
                </div>
                <div class="mb-2">
                    {{form.reserva.errors}}
                    {{form.reserva.label_tag}}
                    <div>{{form.reserva}}</div>
                </div>
             
              
               
                <button type="submit" class="btn btn-secondary mt-2">Alta</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

